<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :resource_name %>
    <%= form.number_field :resource_name, id: :team_resource_id %>
  </div>

  <div class="field">
    <%= form.label :position %>
    <%= form.text_field :position, id: :team_position %>
  </div>

  <div class="field">
    <%= form.label :staff %>
    <%= form.text_field :staff, id: :team_staff %>
  </div>

  <div class="field">
    <%= form.label :plan_id %>
    <%= form.number_field :plan_id, id: :team_plan_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
