<p id="notice"><%= notice %></p>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">
    <div class="row">
      <%= link_to 'Plan', incident_plan_path(@incident, @plan), class: 'btn btn-info tiny' %>
    </div>


    <div class="row">
      <h1 class="header"><strong>Incident Assignments(204)</strong> <%= link_to fa_icon("plus-circle"), new_incident_plan_assignment_path(@incident, @plan, @assignment) %></h1>
    </div>
    <div class="row"> 
      <ul class="assignments-lists">
        <% @assignments.each do |assignment| %>
          <%= link_to incident_plan_assignment_path(@incident, @plan, assignment) do %>
            <li><%= assignment.designator %>  –  Leader's Name  –  # of Personnel </li><br>
          <% end %>
        <% end %>
      </ul>
    </div>

    </div>
  </div>
</div>