<%= content_for :title, "204s" %>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">
    <div class="row">
      <div class="plan-panel-head">
        <ul class="tabrow">
          <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
          <li><%= link_to "Cover", "../#{@plan.id}/cover" %></li>
          <li><%= link_to "202", "../#{@plan.id}/202" %></li>
          <li><%= link_to "203", "../#{@plan.id}/203" %></li>
          <li class="selected"><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
          <li><%= link_to "205", incident_plan_commo_plans_path(@incident, @plan) %></li>
          <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
        </ul>
        </div>
      <div class="masking-tape"></div>
    </div>

    <div class="row">
      <div class="assignment-box">
        <span class="float-left sm-padding-left"> 
          <%= link_to "New", new_incident_plan_assignment_path(@incident, @plan, @assignment), class: 'btn btn-primary' %></span>
        <h1 class="header"><strong>Incident Assignments(204)</strong></h1> 
        <ul class="assignments-lists">
          <% @assignments.each do |assignment| %>
            <%= link_to incident_plan_assignment_path(@incident, @plan, assignment) do %>
            <li><%= assignment.designator %>   </li>
          <% end %>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
