<%= content_for :title, "204" %>
<div id="incident-assignments">
  <div class="container">
    <div class="col-xs-12 col-lg-8 center-block">
      <div class="row">
          <div id="assignment-tabs" class="plan-panel-head">
            <ul class="tabrow">
              <li><%= link_to 'Index', incident_plan_assignments_path(@incident, @plan) %></li>
              <% @assignments.each do |assignment| %>
                <%= link_to incident_plan_assignment_path(@incident, @plan, assignment) do %>
                <li id=<%= assignment.id %>><%= assignment.designator %></li>
              <% end %>
            <% end %>
            </ul>
            </div>
          <div class="masking-tape"></div>
        <div class="form-row top-row">
          <div class="col-xs-6 center-h-container form-box">
            <h4 class="" ><strong>DIVISION ASSIGNMENT LIST</strong></h4>
          </div>
          <div class="col-xs-2 form-box">
            <span class="small">  
            </span>  <span class="personnel_num"></span>

          </div>
          <div class="col-xs-4 form-box text-center">
            <h5><%= best_in_place @assignment, :designator, :as => :input, :place_holder => "(DESIGNATOR)" %></h5>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" center form-row">

          <div class="col-xs-6 form-box">
            <span class="small">INCIDENT NAME</span>
              <span class="lg-padding-left"><%= @incident.name %></span>
          </div>
          <div class="col-xs-6 bl form-box">
             <span class="small">OPERATIONAL PERIOD</span>
             <span class="lg-padding-left"><%= best_in_place @assignment, :ops_period, :as => :input, :place_holder => "(ENTER OPS PERIOD)" %></span>
          </div>
        </div>
      </div>
      <div class="row">
        <div id="ops-resource-form">   <!-- operations leadership form -->
          <%= form_for @assignment do |f| %>
            <div class="float-right lg-margin-right"><%= f.submit "SAVE", class: "btn btn-aqua tiny" %> <%= link_to "CANCEL", 'javascript:;', id: 'cancel-ops-form', class: 'btn btn-default tiny' %></div>
          <ul>
            <% unless @assignment.plan.operations.empty? %>
              <%= javascript_tag "var opsIds = #{@assignment.ops_personnel_ids.to_json}" %>

              <% @plan.operations.order(:position).each do |r| %>
                <li class=""><%= f.check_box :ops_personnel_ids, {multiple: true}, r.id, nil %>
                
                        <%= f.label :ops_personnel_ids, r.position %>  -  <%= f.label :ops_personnel_ids, r.resource_name %></li>
              <% end %>
            <% else %>
              Start by adding Operations Overhead to the <%= link_to "ICS 203", "../../#{@plan.id}/203" %>. 
            <% end %>
          </ul>
           
          <% end %>
        </div>
      </div>
        <%#= link_to (fa_icon('user-plus')), "javascript:;",class: 'resources-button', id: 'ops-resources' %>   <!-- Ops personnel button -->

        <%= link_to "javascript:;" do %>
          <%= image_tag 'user-plus.svg', class: "resources-button medium-icon", id: 'ops-resources' %>
        <% end %>
      <!-- Overhead rows -->
      <div class="row">
        <div id="ops-box-container">
        <% @assignment.operations_resources.each do |o| %>
          <div class="col-xs-3 ops-box"><%= o.position %>
          </div>
          <div class="col-xs-3 ops-box"><%= o.resource_name %>
          </div>
        <% end %>
        <% (6 - @assignment.operations_resources.count).times do %>

          <div class="col-xs-3 ops-box">
          </div>
          <div class="col-xs-3 ops-box">
          </div>

        <% end %>
        </div>
      </div>
      
      <div id="assign-resources-row" class="row">
          <%#= link_to (fa_icon('user-plus')), "javascript:;",id: "assign-resources-button", class: "resources-button" %> 
          <%= link_to "javascript:;" do %>
            <%= image_tag 'user-plus.svg', class: "resources-button medium-icon ", id: 'assign-resources-button' %>
          <% end %>  
        <div class=" center form-row header-row">
          RESOURCES ASSIGNED
        </div>
      </div>
      <div class="row">
        <div id="resource-assignments-form">
          <%= form_for @assignment do |f| %>
            <div class="float-right lg-margin-right"><%= f.submit "SAVE", class: "btn btn-aqua tiny" %> <%= link_to "CANCEL", 'javascript:;', id: 'cancel-resource-assignments-form', class: 'btn btn-default tiny' %></div>
          <ul>
            <%= javascript_tag "var resourceIds = #{@assignment.resource_ids.to_json}" %>
            <% if  !@incident.resources.empty? %>
              <% @incident.resources.order(:position).each do |r| %>
                <li class="assigned-204-resources"><%= f.check_box :resource_ids, {multiple: true}, r.id, nil %>
                
                        <%= f.label :ops_personnel_ids, r.position %>  -  <%= f.label :ops_personnel_ids, r.name %> <%= f.label :ops_personnel_ids, r.cat %>
                        <%= f.label :ops_personnel_ids, r.order_number %></li>
              <% end %>
              <% else %>
              <li>There are no resources assigned to this incident. Add resources to the <%= link_to "ICS 211", incident_resources_path(@incident) %>.</li>
              <% end %>
          </ul>
           
          <% end %>
        </div>
        <table id="assigned-resources", class="assigned-resources">
          <thead>
            <th class="p35">RESOURCE DESIGNATOR </th>
            <th class="p40">LEADER</th>
            <th class="p8"># PERS.</th>
            <th class="p9">LWD</th>
            <th class="p8">LOCATION</th>
          </thead>

          <% @assignment.assigned_resources.each do |r| %>
          <tr>
              <td class="p35 sm-padding-left"><%= r.cat %><%= r.order_number %>  <%= r.position %>  <%= r.name %></td>
              <td class="p40 sm-padding-left"><%= r.leader %></td>
              <td class="p8 centered"><%= r.number_personnel %></td>
              <td class="p9 centered"><%= r.last_work_day.try(:strftime,"%-m/%d") %></td>
              <td class="p8 centered"></td>
            </tr>
          <% end %>
          <% (12 - @assignment.assigned_resources.count).times do %>
            <tr>
              <td class="p35"></td>
              <td class="p40"></td>
              <td class="p8"></td>
              <td class="p9"></td>
              <td class="p8"></td>
            </tr>
          <% end %>
        </table>
      </div>
    
      <div class="row">
        <div id="control-operations" class="center r-b form-box short-rows xs-padding-left">
          <span class="small">CONTROL OPERATIONS</span><br>
            <%= best_in_place @assignment, :control_operations, :as => :textarea, :place_holder => "Click me to add content!",:display_with => :simple_format, :ok_button => 'Save', :ok_button_class => "btn btn-info tiny", :cancel_button => 'Cancel', :cancel_button_class => "btn btn-default sm-margin-left tiny", class: 'wide-textarea'  %>
        </div>
        <div class="bl center form-row short-rows xs-padding-left">
          <span class="small">SPECIAL INSTRUCTIONS</span><br>
            <%= best_in_place @assignment, :special_instructions, :as => :textarea, :place_holder => "(ADD CONTENT OR LEAVE BLANK)",:display_with => :simple_format, :ok_button => 'Save', :ok_button_class => "btn btn-info tiny", :cancel_button => 'Cancel', :cancel_button_class => "btn btn-default sm-margin-left tiny", class: "wide-textarea"  %>
        </div>
        <div id="add-freqs-row" class=" center form-row header-row">
            COMMUNICATIONS SUMMARY
        </div>
        <%= render 'commo_plan' %>
        </br>
      </div>
        <div class="row">
          <ul id="action-buttons">
                  
                  <li class="action-buttons "><%= link_to 'Delete Assignment', @assignment, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-danger float-right" %><%= link_to "PRINT", "../../#{@plan.id}/assignments/#{@assignment.id}/assignment_to_pdf.pdf", class: "btn btn-success tiny", target: :_blank %></li>
              
                </ul></div>
    </div>
  </div>
</div>


<script type="text/javascript">
  id = "<%= @assignment.id %>"
  $('.tabrow li').removeClass('selected');
  $('li#'+ id).addClass('selected');

</script>