<p id="notice"><%= notice %></p>

<h1>Commo Items</h1>

<table>
  <thead>
    <tr>
      <th>Zone</th>
      <th>Ch num</th>
      <th>Function</th>
      <th>Channel name</th>
      <th>Assignment</th>
      <th>Rx freq</th>
      <th>Rx tone</th>
      <th>Tx freq</th>
      <th>Tx tone</th>
      <th>Mode</th>
      <th>Commo plan</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @commo_items.each do |commo_item| %>
      <tr>
        <td><%= commo_item.zone %></td>
        <td><%= commo_item.ch_num %></td>
        <td><%= commo_item.function %></td>
        <td><%= commo_item.channel_name %></td>
        <td><%= commo_item.assignment %></td>
        <td><%= commo_item.rx_freq %></td>
        <td><%= commo_item.rx_tone %></td>
        <td><%= commo_item.tx_freq %></td>
        <td><%= commo_item.tx_tone %></td>
        <td><%= commo_item.mode %></td>
        <td><%= commo_item.commo_plan_id %></td>
        <td><%= link_to 'Show', commo_item %></td>
        <td><%= link_to 'Edit', edit_commo_item_path(commo_item) %></td>
        <td><%= link_to 'Destroy', commo_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Commo Item', new_commo_item_path %>
