<%= form_with(model: incident, local: true) do |form| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="container">
 
  <div class="row">
    <div class="col-med-6">
      <%= form.label :name %>
      <%= form.text_field :name, id: :incident_name, class: 'form-control' %>
    </div>
    <div class="col-med-6">
      <%= form.label :incident_type %></br>

      <%= form.select(:incident_type, 
      raw('<option>Wildfire</option>
           <option>Hazmat</option>
           <option>Flood</option>
           <option>Spill</option>
           <option>Slide</option>
           <option>Shooting</option>
           <option>Fire</option>
           <option>Epidemic</option>
           <option>Event</option>'), class: 'form-control')  %>
    </div>
  </div>
  <div class="row">
    <div class="col-med-6">
      <%= form.label :number %>
      <%= form.text_field :number, id: :incident_number, class: 'form-control' %>
    </div>
  </div>

  <div class="col-med-6">
    <%= form.label :p_code %>
    <%= form.text_field :p_code, id: :incident_p_code, class: 'form-control' %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="col-med-12">
    <div class="actions">
      <%= form.submit 'SUBMIT', class: 'btn btn-success tiny' %>
    </div>
  </div>
</div>


<% end %>
