<%= form_with(model: incident, local: true) do |form| %>
  <% if incident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(incident.errors.count, "error") %> prohibited this incident from being saved:</h2>

      <ul>
      <% incident.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :incident_name, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :number %>
    <%= form.text_field :number, id: :incident_number, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :p_code %>
    <%= form.text_field :p_code, id: :incident_p_code, class: 'form-control' %>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
  <div class="actions">
    <%= form.submit 'SUBMIT', class: 'btn btn-success tiny' %>
  </div>
<% end %>
