 
  <div class="panel-body">
    <div class="incident-content-block">
      <div class="row">
        
      <h4><strong>Incident Information</strong></h4>
      </div>
        <!-- wildfire specific -->
        <% if @incident.wildfire? %>
          <div>
            <div class="col-sm-12 col-xs-12">
            <div><strong>Location:</strong> <%= best_in_place @incident, :location %></div>
            <div><strong>Coordinates:</strong> <%= best_in_place @incident, 
            :latitude %> x <%= best_in_place @incident, :longitude %></div>
         
              <div><strong>Cause:</strong> <%= best_in_place @incident, :cause %></div>
              <div><strong>Fuels:</strong> <%= best_in_place @incident, :fuel_type %></div>
              <div><strong>Activity:</strong> <%= best_in_place @incident, :fire_behavior %></div>
          
              <div><strong>Size:</strong> <%= best_in_place @incident, :size %> acres  </div>
              <div><strong>Complexity:</strong> <%= best_in_place @incident, :complexity %>  </div>
              <div><strong>Start Date:</strong> <%= best_in_place @incident, :start_date %>  </div>
              <div><strong>% Contained:</strong> <%= best_in_place @incident, :percent_contained %></div>
              <div><strong>Status:</strong> <%= best_in_place @incident, :status %></div>
       
              <div><strong>IC:</strong> <%= best_in_place @incident, :ic %>   </div>
              <div><strong>Protection Level Level:</strong> <%= best_in_place @incident, :protection %></div>
              <div><strong>Ownership:</strong> <%= best_in_place @incident, :ownership %></div>
        
              <div><strong>Financial Code:</strong> <%= best_in_place @incident, :financial_code %> </div>
              <div><strong>P Code:</strong>  <%= best_in_place @incident, :p_code %></div>
              <div></div>
            </div>
          </div>
        <% end %>
        <!-- All Hazard -->
        <% unless @incident.wildfire? %>
          
          <div class="col-sm-12 col-xs-12">
            <div>Location: <%= best_in_place @incident, :location %></div>
            <div> Coordinates: <%= best_in_place @incident, :latitude %> x <%= best_in_place @incident, :longitude %></div>
          </div>
          
        <% end %>
      </div>
      <%= link_to (fa_icon('edit')), edit_incident_path(@incident), class: "float-right", id: 'edit-incident' %>
      
  </div> <!-- panel body -->

