<%= form_for @resource, remote: true do |f| %>
  <%= f.hidden_field :incident_id, value: @incident.id %>
  <div class="field"><%= f.label :name %>
    <%= f.text_field :name, placeholder: "Resource Name", class: 'form-control' %>
  </div>
  <div class="field">
    <%= f.label :position %>
    <%= f.text_field :position, placeholder: "Resource Type", class: 'form-control' %>
    
  </div>
  <div class="field">
    <%= f.label "Order #" %>
    <%= f.text_field :order_number, placeholder: "Order Number", class: 'form-control' %>
    
  </div>
  <div class="field">
    <%= f.label :leader %>
    <%= f.text_field :leader, placeholder: "Leader Name", class: 'form-control' %>
    
  </div>
  <div class="field">
    <%= f.label "# personnel" %>
    <%= f.text_field :number_personnel, placeholder: "# Personnel", class: 'form-control' %>
    
  </div>
  <div class="field">
    <%= f.label :agency %>
    <%= f.text_field :agency, placeholder: "Agency", class: 'form-control' %>
  </div>
  
  <div class="row">
    <div class="col-md-6">
      <%= f.label :checkin_date %>
      <%= f.text_field :checkin_date, id: :incident_checkin_date, :data => {:provide => "datepicker"},
                             class: "form-control", placeholder: "CHECKIN DATE" %>
    </div>  
    <div class="col-md-6">
      <%= f.label "Last work day" %>
      <%= f.text_field :lwd, id: :incident_checkin_date, :data => {:provide => "datepicker"},
                             class: "form-control", placeholder: "LAST WORK DAY" %>
    </div>
  </div>
</br>
  <div>
    <%= f.submit "Submit", class: 'btn btn-primary', id: "submit-resource-button" %>
  </div>
<% end %>