<div id="incident-container" class="container">
  <div class="row">
    <div class="col-lg-10 col-xs-12 center-block">

     <div class="panel panel-default devise-bs center-block">
      <div class="panel-heading">
        <h4>
          <strong><%= @incident.display_incident_name %></strong>
          <span class="float-right plans-button"><%= link_to "Plans", incident_plans_path(@incident), class: 'btn btn-primary' %></span>
          </h4>
      </div>
      <%= render 'information_panel' %>
    </div>
      <%= render 'resources_panel' %>
      

        <%= link_to 'Back', incidents_path %>
    </div> <!-- responsive wrapper -->
  </div>  <!-- row -->
</div>   <!-- incident container -->

