<%= content_for :title, "205" %>
  <div class="container">
    <div class="col-xs-12 col-lg-10 center-block">


      <div class="row">
        <div class="plan-panel-head">
          <ul class="tabrow">
            <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
            <li><%= link_to "Cover", incident_plan_covers_path(@incident, @plan)  %></li>
            <li><%= link_to "202", "../../#{@plan.id}/202" %></li>
            <li><%= link_to "203", "../../#{@plan.id}/203" %></li>
            <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
            <li class="selected"><%= link_to "205", incident_plan_commo_plans_path(@incident, @plan) %></li>
            <li><%= link_to "206", '#' %></li>
            <li><%= link_to "220", '#' %></li>
            <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
          </ul>
          </div>
        <div class="masking-tape"></div>
      </div>
  
<div id="commo-plan">


      <div class="row">
        <div class="tall-row top-row"> 
          <h4 class="center"><strong>INCIDENT RADIO COMMUNICATIONS PLAN(ICS 205)</strong></h4>
        </div>
        <div class="tall-row">
          <div class="col-xs-3 r-b">
            <span class=""><strong>1. Incident Name</strong></span><br>
            <span class="lg-padding-left"><%= @incident.name %></span>
          </div>
          <div class="col-xs-5 r-b"><span class=""><strong>2. Date</strong></span><br>
            <span class="lg-padding-left"></span>
            <%= best_in_place @commo_plan,  :date_prepared, :as => :input, :place_holder => "(ENTER DATE PREPARED)", class: "sm-padding-left" %>
          </div>
          <div class="col-xs-4 "><span class=""><strong>3. Operational Period:</strong></span><br>
            <%= best_in_place @commo_plan,  :ops_period, :as => :input, :place_holder => "(ENTER OPS PERIOD)", class: "sm-padding-left" %>
          </div>
        </div>
        <div class="head-spacer">
          
        </div>

        <table>
          <thead class="">
            <th class="c1"><span class="">Zone</span></th>
            <th class="c1"><span class="">Ch #</span></th>
            <th class="c3"><span class="">Channel Name</span></th>
            <th class="c3"><span class="">Function</span></th>
            <th class="c2"><span class="">RX Freq</span></th>
            <th class="c2"><span class="">Tone</span></th>
            <th class="c2"><span class="">TX Freq</span></th>
            <th class="c2"><span class="">Tone</span></th>
            <th class="c4"><span class="">Assignment</span></th>
            <th class="c3"><span class="">Remarks</span></th>
          </thead>

          <% @commo_plan.commo_items.order(created_at: :asc).each do |i| %>
            <tr class="radio-channel">
                <td class="c1"><span class=""><%= best_in_place i,  :zone, :as => :input %></span></td>
                <td class="c1"><span class=""><%= best_in_place i,  :ch_num, :as => :input %></span></td>
                <td class="c3"><span class=""><%= best_in_place i,  :channel_name, :as => :input %></span></td>
                <td class="c3"><span class=""><%= best_in_place i,  :function, :as => :input %></span></td>
                <td class="c2"><span class=""><%= best_in_place i,  :rx_freq, :as => :input %></span></td>
                <td class="c2"><span class=""><%= best_in_place i,  :rx_tone, :as => :input %></span></td>
                <td class="c2"><span class=""><%= best_in_place i,  :tx_freq, :as => :input %></span></td>
                <td class="c2"><span class=""><%= best_in_place i,  :tx_tone, :as => :input %></span></td>
                <td class="c4"><span class=""><%= best_in_place i,  :assignment, :as => :input %></span></td>
                <td class="c3"><span class=""><%= best_in_place i,  :mode, :as => :input %></span></td>
              </tr>
          <% end %>
            <% (16 - @commo_plan.commo_items.count).times do %>
              <tr class="radio-channel blank-row">

                <td class="c1"><span class=""></span>
                  <span class="commo-item-form">
                    <%= form_for @commo_item do |f| %>
                      <%= f.hidden_field :commo_plan_id, value: @commo_plan.id %>
                      <%= f.submit '+', class: "new-commo-item" %>
                    <% end %>
                  </span>

                </td>
                <td class="c1"><span class=""></span></td>
                <td class="c3"><span class=""></span></td>
                <td class="c3"><span class=""></span></td>
                <td class="c2"><span class=""></span></td>
                <td class="c2"><span class=""></span></td>
                <td class="c2"><span class=""></span></td>
                <td class="c2"><span class=""></span></td>
                <td class="c4"><span class=""></span></td>
                <td class="c3"><span class=""></span></td>
              </tr>
            <% end %>
        </table>


      </div>
      <div class="row">
        <div class="br bl  xs-padding-top">
          <span class=" sm-padding-left"><strong>Special Instructions</strong></span>
          <div class="special-instructions">
            <%= best_in_place @commo_plan,  :special_instructions, :as => :textarea %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-row xs-padding-top bl">
          <span class=" sm-padding-left"><strong>Prepared by:</strong></span>
          <span class=" lg-padding-left">Name:</span> 
          <%= best_in_place @commo_plan,  :prepared_by, :as => :input, :place_holder => "(ENTER NAME)", class: "sm-padding-left" %>
          <span class=" huge-padding-left">Signature:</span>
        </div>
      </div>
      <div class="row">
        <div class="form-row bl bb">
          <div class="col-xs-3 r-b xs-padding-top">
            <span class=" sm-padding-left"><strong>ICS 205</strong></span>
          </div>
          <div class="col-xs-9 xs-padding-top">
            <span class=" sm-padding-left"><strong>Date/Time:</strong></span>
            <%= best_in_place @commo_plan,  :date_signed, :as => :input, :place_holder => "(ENTER DATE)", class: "sm-padding-left" %>
          </div>
        </div>
      </div> 
    </div>
     <div class="print-button"><%= link_to "PRINT", "../../#{@plan.id}/commo_plans/#{@commo_plan.id}/commo_plan_to_pdf.pdf", class: "btn btn-success float-left tiny", target: :_blank %></div>
  </div>
</div>