<%= content_for :title, "Cover" %>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">

    <div class="row">                    <!-- Begin the tabrows -->
      <div class="plan-panel-head"> 
        <ul class="tabrow">
          <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
          <li id="selected" class="selected"><%= link_to "Cover", "../#{@plan.id}/cover" %></li>
          <li><%= link_to "202", "../../#{@plan.id}/202" %></li>
            <li><%= link_to "203", "../../#{@plan.id}/203" %></li>
            <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
            <li><%= link_to "205", incident_plan_commo_plans_path(@incident, @plan) %></li>
            <li><%= link_to "206", '#' %></li>
            <li><%= link_to "220", '#' %></li>
          <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
        </ul>
      </div>    
      <div class="masking-tape"></div>
    </div>   
                               <!-- End the tabrows -->
    <div class="row">
      <div id="cover">
        <%#= form_for @block do |f| %>
          <%#= f.hidden_field :cover_id, value: @cover.id %>
          <%#= f.submit '+', class: "new-commo-item" %>
        <%# end %> 

    <!-- <ul id="block-list" data-update-url="<%#= sort_cover_blocks_url %>"> -->
       <% @blocks.each do |b| %>
       <%#= content_tag_for :li, b do %>
       <div>

         <div class="new-block-form">
          <%= form_for @block do |f| %>
            <%= f.hidden_field :cover_id, value: @cover.id %>
            <%= f.submit '+', class: "new-block-button" %>
          <% end %>
        </div>
         <div class="style-controls">
           <div class="h1-text"><h1>H1</h1></div>
           <div class="h2-text"><h2>H2</h2></div>
           <div class="h3-text"><h3>H3</h3></div>
           <div class="h4-text"><h4>H4</h4></div>
           <div class="normal-text">Norm</div>
           <div class="semi-text semi-bold">Semi</div>
           <div class="bold-text bold">Bold</div>
           <div class="italic-text"><em>Italic</em></div>
           <div class="add-image-block"><%= fa_icon('image') %></div>
           <div class="delete-block"><%= fa_icon('trash') %></div>
         </div>


         <!-- <div id="<%= b.id %>" class="block gray-border" style="font-size:<%= b.font_size %>; font-family:<%= b.font_family %>;font-weight:<%= b.font_weight %>;" > -->
         <div id="<%= b.id %>" class="block gray-border <%= b.font_size %> <%= b.font_family %> <%= b.font_weight %>" >
          <%= best_in_place b, :content, :as => :input, class: 'bock-content' %>
          </div> 
       </div>
       <% end %>
        <%# end %>
      <!-- </ul> -->
      </div>
    </div>
  </div>
</div>