<%= content_for :title, "Cover" %>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">
<!-- Begin the tabrows -->
    <div class="row">     
      <div class="plan-panel-head"> 
        <ul class="tabrow">
          <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
          <li id="selected" class="selected"><%= link_to "Cover", incident_plan_covers_path(@incident, @plan) %></li>
          <li><%= link_to "202", "../../#{@plan.id}/202" %></li>
            <li><%= link_to "203", "../../#{@plan.id}/203" %></li>
            <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
            <li><%= link_to "205", incident_plan_commo_plans_path(@incident, @plan) %></li>
            <li><%= link_to "206", '#' %></li>
            <li><%= link_to "220", '#' %></li>
          <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
        </ul>
      </div>    
      <div class="masking-tape"></div>
    </div>   
<!-- End the tabrows -->
    <div class="row">
      <div id="cover">
<!-- Display blocks -->
       <% @blocks.each do |b| %>
       <div>
         <div class="new-block-form">
          <%= form_for @block do |f| %>
            <%= f.hidden_field :cover_id, value: @cover.id %>
            <%= f.submit '+', class: "new-block-button" %>
          <% end %>
        </div>

  <!-- Style control panel -->
         <div class="style-controls">
           <div class="h1-text"><h1>H1</h1></div>
           <div class="h2-text"><h2>H2</h2></div>
           <div class="h3-text"><h3>H3</h3></div>
           <div class="h4-text"><h4>H4</h4></div>
           <div class="normal-text">Norm</div>
           <div class="semi-text semi-bold">Semi</div>
           <div class="bold-text bold">Bold</div>
           <div class="italic-text"><em>Italic</em></div>
           <div class="add-image-block"><%= fa_icon('image') %></div>
           <!-- <div class="add-image-block"><i class="fa fa-icon fa-image"></i></div> -->
           <div class="delete-block"><%= fa_icon('trash') %></div>
         </div>
  <!-- End style control panel -->
         <div  id="plan" class="block gray-border <%= b.font_size %> <%= b.font_family %> <%= b.font_weight %> <%= b.text_style %>" >

            
           <% if b.image_block? %> 
                <div class="resizable">
                  <div class=" resizers">
                    <div class='resizer top-left'></div>
                    <div class='resizer top-right'></div>
                    <div class='resizer bottom-left'></div>
                    <div class='resizer bottom-right'></div>

                  <% if b.main_image.attached? %>
                   <%= image_tag b.main_image, class: "cover-image" %>
                  <% end %>
                     <img id="temp-image"></img>
                </div>
              </div>
              <div class="image-form">
                <%= form_for b, html: {class: "edit-image-block"}  do |f| %>
                  <%= f.file_field :main_image, class: 'small-button' %>
                  <%= f.submit "Upload" %>
                <% end %>
              </div>
          <% end %>

          
          <% unless b.image_block? || b.blank? %>           
<!-- Block form -->
          

            <%= form_for b, class: "block-form", remote: true do |f| %>

              <%= f.hidden_field :id %>
              <%= f.hidden_field :bottom_padding, name: 'bottom_padding' %>
              <%= f.hidden_field :font_size %>
              <%= f.hidden_field :font_family %>
              <%= f.hidden_field :number %>
              <%= f.hidden_field :font_weight %>
              <%= f.hidden_field :text_align %>
              <%= f.hidden_field :text_style %>
              <%= f.hidden_field :image_block %>
              <%= f.hidden_field :blank %>
              <%= f.submit "Save", class: "save-block-button" %>
            <% end %> 
            <%= best_in_place b, :content, :as => :input, class: 'bock-content' %>
        

          <% end %>
          <div style="height: <%= b.bottom_padding %>" class="bottom-padding"><div class="resize-padding"></div></div>
        </div> 
       </div>
       <% end %>
<!-- End blocks display -->   
      </div>
    </div>
    <div class="print-button"><%= link_to "PRINT", "../../#{@plan.id}/covers/#{@cover.id}/cover_to_pdf" + ".pdf", target: :_blank, class: "btn btn-success tiny" %></div>
  </div>
</div>