<%= content_for :title, "Cover" %>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">
<!-- Begin the tabrows -->
    <%= render 'tabrows' %>
<!-- End the tabrows -->
    <div class="row">
      <div id="cover" data-url="<%= 'sort_checkins_path' %>">
<!-- Display blocks -->
      <%= render 'new_block_type' %>
       <% processed_blocks = [] %>
       <% @blocks.each do |b| %>
         <% next if processed_blocks.include?(b.id) %>
         
         <% if b.split_block? && b.pair_id.present? %>
           <% # Find the paired block %>
           <% paired_block = @blocks.find { |pb| pb.pair_id == b.pair_id && pb.id != b.id } %>
           <% if paired_block %>
             <% processed_blocks << b.id << paired_block.id %>
             <div class="split-block-container">
               <div class="split-block-wrapper">
                 <%= render 'block_content', block: b %>
               </div>
               <div class="split-block-wrapper">
                 <%= render 'block_content', block: paired_block %>
               </div>
             </div>
           <% else %>
             <div>
               <%= render 'block_content', block: b %>
             </div>
           <% end %>
         <% else %>
           <div>
             <%= render 'block_content', block: b %>
           </div>
         <% end %>
       <% end %>
<!-- End blocks display -->   
      </div>
    </div>
    <div class="print-button"><%= link_to "PRINT", "../../#{@plan.id}/covers/#{@cover.id}/cover_to_pdf" + ".pdf", target: :_blank, class: "btn btn-success tiny" %></div>
  </div>
</div>