<%= content_for :title, "Demob"  %>

<div id="demob-sheet">
  <div class="container center-vh-containe">
    <div class="col-xs-12 col-lg-8 center-block ">
      <div>
        <div><%= link_to "BACK to RESOURCES", incident_resources_path(@incident), class: "btn btn-success tiny" %></div>
      </div>

     <div class="row center-vh-container">
       <h4>DEMOBILIZATION CHECK-OUT (ICS 221)</h4>
     </div>
      <%= form_for @demob, :html => {id: "demob-form"} do |f| %>
      <div id="form-container" class="row">
        <div class="row">
          <div class="col-xs-12 bb">
            <div class="col-xs-3 "><span class="small">1. INCIDENT NAME  </span></div>
            <div class="col-xs-3"><%= @incident.name %></div>
            <div class="col-xs-3 bl"><span class="small">2. INCIDENT NUMBER  </span></div>
            <div class="col-xs-3"> <%= @incident.number %></div>
          </div>  
        </div>

        <div class="row bb">
          <div class="col-xs-4 br"><span class="small">3. PLANNED RELEASE DATE/TIME</span></div>
          <div class="col-xs-4 br"><span class="small">4. RESOURCE RELEASED</span></div>
          <div class="col-xs-4"><span class="small">5. ORDER REQUEST NUMBER</span> </div>
       
          <div class="col-xs-4 br"><span class="small sm-margin-right">DATE</span><%= f.text_field :edd, size: "7", class: 'datepicker', display_as: :formatted_date  %> <span class="small sm-margin-left sm-margin-right"> TIME</span><%= f.text_field :edt, size: "6"  %></div>
          <div class="col-xs-4 center-text br"><span class="small"></span><%= @resource.name  %></div>
          <div class="col-xs-4 center-text"><span class="small"></span><%= @resource.cat  %><%= @resource.order_number  %></div>
        </div>
         
        <div class="row">
          <div class="col-xs-12 bb"><span class="small">7. RESOURCE OR PERSONNEL</span> 

            <P>You and your resources are in the process of being released. Resources are not released until the checked boxes
                below have been signed off by the appropriate overhead and the Demobilization Unit Leader (or Planning Section
                representative).
            </P>
            <H6>LOGISTICS SECTION</H6>

            <div>
              <table id="logs-table" class="table custom-table">
                <thead>
                  <tr >
                    <th class="head-row" width="4%" scope="col"></th>
                    <th class="head-row bl" width="20%" scope="col">Unit Manager</th>
                    <th class="head-row bl" width="20%" scope="col">Remarks</th>
                    <th class="head-row bl" width="20%" scope="col">Name</th>
                    <th class="head-row bl" width="20%" scope="col">Signature</th>
                  </tr>
                </thead>
                <tbody>
                  <% @logistics_units.each do |u| %>
                    <tr>
                      <td><span class="sm-padding-left"><%= check_box_tag 'selected' %></span></td>
                      <td class="bl"><strong><%= best_in_place u, :manager, :as => :input  %></strong></td>
                      <td class="bl"><%= best_in_place u, :remarks, :as => :input %></td>
                      <td class="bl"><%= best_in_place u, :name, :as => :input %></td>
                      <td class="bl"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <H6>FINANCE SECTION</H6>

            <div>
              <table id="finance-table" class="table custom-table">
                <thead>
                  <tr >
                    <th class="head-row" width="4%" scope="col"></th>
                    <th class="head-row bl" width="20%" scope="col">Unit Manager</th>
                    <th class="head-row bl" width="20%" scope="col">Remarks</th>
                    <th class="head-row bl" width="20%" scope="col">Name</th>
                    <th class="head-row bl" width="20%" scope="col">Signature</th>
                  </tr>
                </thead>
                <tbody>
                  <% @finance_units.each do |u| %>
                    <tr>
                      <td><span class="sm-padding-left"><%= check_box_tag 'selected' %></span></td>
                      <td class="bl"><strong><%= best_in_place u, :manager, :as => :input  %></strong></td>
                      <td class="bl"><%= best_in_place u, :remarks, :as => :input %></td>
                      <td class="bl"><%= best_in_place u, :name, :as => :input %></td>
                      <td class="bl"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <H6>OTHER SECTIONS/STAFF</H6>

            <div>
              <table id="other-table" class="table custom-table">
                <thead>
                  <tr >
                    <th class="head-row" width="4%" scope="col"></th>
                    <th class="head-row bl" width="20%" scope="col">Unit Manager</th>
                    <th class="head-row bl" width="20%" scope="col">Remarks</th>
                    <th class="head-row bl" width="20%" scope="col">Name</th>
                    <th class="head-row bl" width="20%" scope="col">Signature</th>
                  </tr>
                </thead>
                <tbody>
                  <% @other_units.each do |u| %>
                    <tr>
                      <td><span class="sm-padding-left"><%= check_box_tag 'selected' %></span></td>
                      <td class="bl"><strong><%= best_in_place u, :manager, :as => :input  %></strong></td>
                      <td class="bl"><%= best_in_place u, :remarks, :as => :input %></td>
                      <td class="bl"><%= best_in_place u, :name, :as => :input %></td>
                      <td class="bl"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>

            <H6>PLANS SECTION</H6>

            <div>
              <table id="plans-table" class="table custom-table">
                <thead>
                  <tr >
                    <th class="head-row" width="4%" scope="col"></th>
                    <th class="head-row bl" width="20%" scope="col">Unit Manager</th>
                    <th class="head-row bl" width="20%" scope="col">Remarks</th>
                    <th class="head-row bl" width="20%" scope="col">Name</th>
                    <th class="head-row bl" width="20%" scope="col">Signature</th>
                  </tr>
                </thead>
                <tbody>
                  <% @plans_units.each do |u| %>
                    <tr>
                      <td><span class="sm-padding-left"><%= check_box_tag 'selected' %></span></td>
                      <td class="bl"><strong><%= best_in_place u, :manager, :as => :input  %></strong></td>
                      <td class="bl"><%= best_in_place u, :remarks, :as => :input %></td>
                      <td class="bl"><%= best_in_place u, :name, :as => :input %></td>
                      <td class="bl"></td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
           
        <div class="row bb">
         <div id="demob-remarks" class="col-xs-12"><span class="small">8. REMARKS</span>
          <div id="remarks-content">
            <%= f.text_area :remarks, :display_with => :simple_format, :place_holder => "(ADD CONTENT)", cols: '105', rows: '3'
                                       %>
          </div>
         </div>
        </div>
         
        <div id="demob-transportation" class="row bb sm-padding-bottom">
          <div class="col-xs-12">
            <div class="col-xs-6"> <span id="transportation-header">9. TRANSPORTATION INFORMATION</span>
            </div>
            <div class="col-xs-6"> <span class="md-margin-right">Room Overnight </span> <span class="sm-margin-right"><%= check_box_tag " No"  %>  No</span> <%= check_box_tag " Yes"  %> Yes
            </div>

            <div class="col-xs-6"> Estimated Time of Departure <%= f.text_field :edt, :place_holder => "(ESTIMATED DEPARTURE TIME)"  %>
            </div>
            <div class="col-xs-6"> <span class="md-margin-right">Actual Release Date: <%= f.text_field :actual_release_date, :place_holder => "(DATE)", size: '13' %></span>  Time <%= f.text_field :actual_release_time, :place_holder => "(TIME)", size: '13' %>
            </div>

            <div class="col-xs-6"> Destination <%= f.text_field :destination, size: '13'  %>
            </div>
            <div class="col-xs-6"> Estimated Time of Arrival <%= f.text_field :eta %>
            </div>

            <div class="col-xs-6"> Travel Method <%= f.text_field :travel_method  %>
            </div>
            <div class="col-xs-6"> Contact While Travelling <%= f.text_field :contact_enroute %>
            </div>

            <div class="col-xs-6"> <span class="md-margin-right">Manifest </span> <span class="sm-margin-right"><%= check_box_tag " No"  %>  No</span> <span class="md-margin-right"><%= check_box_tag " Yes"  %> Yes</span> Number <%= f.text_field :manifest_number, size: '15'  %>
            </div>
            <div class="col-xs-6"> Area/Agency/Region Notified <%= f.text_field :agency_notified %>
            </div>
          </div>
        </div> 

        <div class="row bb sm-padding-bottom">
          <div id="reassignment-info" class="col-xs-12">
            <div><span id="reassignment-header" class="sm-margin-right">10. REASSIGNMENT INFORMATION</span> <span class="sm-margin-right"><%= check_box_tag " No"  %>  No</span> <%= check_box_tag " Yes"  %> Yes
            </div>
            <div class="col-xs-6"><span class="md-margin-right">Incident Name</span><%= f.text_field :new_incident, class: "strong" %>
            </div>
            <div class="col-xs-6"><span class="md-margin-right">Incident Number</span><%= f.text_field :new_incident_number, class: "strong" %>
            </div>

            <div class="col-xs-6"><span class="md-margin-right">Location</span><%= f.text_field :new_location, class: "strong" %>
            </div>
            <div class="col-xs-6"><span class="md-margin-right">Order Request Number</span><%= f.text_field :new_order_number, class: "strong" %>
            </div>
          </div>
        </div> 


        <div class="row">
          <div id="prepared-by-row" class="col-xs-12">
            <div class="col-xs-5"><span id="prepared-by-header">11. PREPARED BY</span> Name <%= f.text_field :prepared_by %></div>
            <div class="col-xs-4">Position/Title <%= f.text_field:pb_position %></div>
            <div class="col-xs-3">Signature</div>

            <div class="col-xs-4">ICS-221</div>
            <div class="col-xs-4">Date <%= f.text_field :date %></div>
            <div class="col-xs-4">TIME <%= f.text_field :time %></div>
          </div>
        </div>
      </div>
      <div class="print-button"><%= link_to "PRINT", '#', class: "btn btn-success float-left tiny", target: :_blank, id: "print-demob-button" %></div>
      <div class=""><%= f.submit "Submit", class: "btn btn-success float-left tiny", id: "demob-form-button" %></div>
        <% end %>
    </div>
  </div>
</div>