<div id="demob-info" class="panel panel-default">
<!-- Default panel contents -->
  <% if !@resources.empty? %>
    <!-- Table -->
    <div id="demob-dates">
      <h1>DEMOB LIST</h1>
      <%
        tomorrow = Date.today + 1.day
        demob_groups = @resources.assigned
                                 .select { |r| r.last_work_day.is_a?(Date) }
                                 .group_by { |r| r.last_work_day + 1.day }
                                 .select  { |demob_date, _| demob_date >= tomorrow }
                                 .sort_by(&:first)
      %>
      <% if demob_groups.empty? %>
        <p class="sm-padding-top md-padding-left">
          <em>No assigned resources have a computable demob date. Set FWD and Assignment Length on the ICS-211 tab.</em>
        </p>
      <% else %>
        <% demob_groups.each do |demob_date, resources| %>
          <h3><%= demob_date.strftime('%A, %B %-d, %Y') %></h3>
          <% resources.each do |r| %>
            <div><%= r.full_order_number %> <%= r.position %> <%= r.name %></div>
          <% end %>
        <% end %>
      <% end %>
    </div>

    <% else %>
    <div class="sm-padding-top md-padding-left">
      <h4>There are no resources assigned to this incident.</h4>
    </div>
  <% end %>


  <% if !@resources.empty? %>
    <div class="demob-print-actions no-print">
      <button type="button" id="print-demob" class="btn btn-primary" onclick="printDemob()">
        <%= fa_icon 'print' %> Print Demob List
      </button>
    </div>
  <% end %>
  <div class="panel-foot"></div>
</div>

<script>
  function printDemob() {
    document.body.classList.add('printing-demob');
    var style = document.createElement('style');
    style.id = 'print-orientation';
    style.textContent = '@page { size: portrait; margin: 0.4in; }';
    document.head.appendChild(style);

    var cleanup = function () {
      document.body.classList.remove('printing-demob');
      var s = document.getElementById('print-orientation');
      if (s) s.remove();
      window.removeEventListener('afterprint', cleanup);
    };
    window.addEventListener('afterprint', cleanup);
    window.print();
  }
</script>
