<div id="glide-info" class="panel panel-default">
  <div id="resource-form">
    <h4><strong>New Resource</strong></h4>
      <%= render 'new_resource_form' %>
    </div>
<!-- Default panel contents -->
  <% if !@incident.resources.empty? %>
    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th colspan="4" rowspan="2" class="glide-title-cell">
            <%= @incident.name %> <%= @incident.incident_type %> Glide Path
          </th>
          <% 14.times do |t| %>
            <th class="glide-header glide-calendar" scope="col"><%= t + 1 %></th>
          <% end %>
        </tr>
        <tr>
          <% 14.times do |t| %>
            <th class="glide-header glide-calendar" scope="col"><%= (Date.today + t.days).strftime('%a') %></th>
          <% end %>
        </tr>
        <tr>
          <th scope="col" class="table-col">Order#</th>
          <th scope="col" class="table-col">Position</th>
          <th scope="col" class="table-col name-col">Name</th>
          <th scope="col" class="table-col">LWD</th>
          <% 14.times do |t| %>
            <th class="glide-header glide-calendar" scope="col"><%= (Date.today + t.days).strftime('%m/%d') %></th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @resources.assigned.each do |r|  %>
        <tr>
          <td class=" table-col"><%= r.full_order_number  %></td>
          <td class=" table-col"><%=  r.position%></td>
          <td class="table-col name-col"><%=  r.name %></td>
          <% if !r.last_work_day.blank? %>
            <td class=" table-col"><%=  r.last_work_day.strftime("%m/%d") %></td>
          <% else %>
          <td class=" table-col"></td>
          <% end %>

          <% 14.times do |d| %>
            <td class="glide-calendar glide-row" data-day="<%= Date.today + d.days %>" data-lwd="<%= r.last_work_day %>"></td>
          <% end %>
        </tr>
        <% end %>

      </tbody>
    </table>

    <% else %>
    <div class="sm-padding-top md-padding-left">
      <h4>There are no resources assigned to this incident.</h4>
    </div>
  <% end %>


  <% if !@incident.resources.empty? %>
    <div class="glide-print-actions no-print">
      <button type="button" id="print-glide" class="btn btn-primary" onclick="printGlide()">
        <%= fa_icon 'print' %> Print Glide Path
      </button>
    </div>
  <% end %>
  <div class="panel-foot"></div>
</div>

<script>
  function printGlide() {
    document.body.classList.add('printing-glide');
    var style = document.createElement('style');
    style.id = 'print-orientation';
    style.textContent = '@page { size: landscape; margin: 0.4in; }';
    document.head.appendChild(style);

    var cleanup = function () {
      document.body.classList.remove('printing-glide');
      var s = document.getElementById('print-orientation');
      if (s) s.remove();
      window.removeEventListener('afterprint', cleanup);
    };
    window.addEventListener('afterprint', cleanup);
    window.print();
  }
</script>
