<div id="ics-211-info" class="panel panel-default">
<!-- Default panel contents -->
  <div id="resource-form">
    <h4><strong>New Resource</strong></h4>
    <%= render 'new_resource_form' %>
  </div>
  <% if !@incident.resources.empty? %>
    <div class="ics-211-search">
      <input type="search"
             class="ics-211-search-input form-control"
             placeholder="Search order#, position, name, agency…"
             autocomplete="off">
      <button type="button" class="ics-211-search-clear btn btn-link" style="display:none">Clear</button>
      <span class="ics-211-search-summary muted"></span>
    </div>

    <!-- Table -->
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Order #</th>
          <th scope="col">Position</th>
          <th scope="col">Name</th>
          <th scope="col">Leader</th>
          <th scope="col"># Pers</th>
          <th scope="col">Agency</th>
          <th scope="col">FWD</th>
          <th scope="col">Length</th>
          <th scope="col">LWD</th>
          <th scope="col">Release</th>
          <th scope="col">Delete</th>
          <th scope="col">R&R</th>
        </tr>
      </thead>
      <tbody id="incident-resources">
        <% @resources.assigned.each do |r|  %>



        <tr id="resource-<%= r.id %>" class="incident-resource<%= ' has-roster' if r.rosters.any? %>">
            <td class="sm-padding-left sm-bip-input">
              <span class="roster-toggle-slot"><% if r.rosters.any? %><span class="resource-roster-toggle"
                    role="button"
                    tabindex="0"
                    aria-expanded="false"
                    data-resource-id="<%= r.id %>"
                    title="Show <%= r.rosters.size %> roster entr<%= r.rosters.size == 1 ? 'y' : 'ies' %>"><span class="roster-toggle-caret" aria-hidden="true">&gt;</span></span><% end %></span><%= r.cat %><%= best_in_place r, :order_number, :as => :input %>

            </td>
            <td class="md-bip-input"><%= best_in_place r, :position, :as => :input %></td>
            <td class="lg-bip-input"><%= best_in_place r, :name, :as => :input %></td>
            <td class="lg-bip-input"><%= best_in_place r, :leader, :as => :input, place_holder: "---------" %></td>
            <td class="sm-bip-input">
              <%# if r.number_personnel != nil  %> 
                <%= best_in_place r, :number_personnel, :as => :input %>
              <%# end %>
                </td>
            <td class="md-bip-input"><%= best_in_place r, :agency, :as => :input, place_holder: "------" %></td>
            <td class="datepicker-td">
              <%= form_for r, remote: true do |f| %>
                <%= f.text_field :fwd, class: 'datepicker fwd-datepicker', remote: true %>
              <% end %>
            </td>

           <!--  <td class="lg-bip-input"><%#= best_in_place r, :fwd, display_as: :formatted_fwd %></td> -->
            <td class="lg-bip-input"><%= best_in_place r, :assignment_length, :as => :input, place_holder: "----" %></td>
            <% if !r.last_work_day.blank? %>
              <td><%=  r.last_work_day.strftime("%m/%d") %></td>
            <% else %>
            <td></td>
            <% end %>
            <td><%= link_to "DMB", incident_resource_demob_path(@incident, r, r.demob), class: "demob-button btn tiny btn-dark"  %></td>
           

            <td>
              <%= link_to r, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <%= image_tag 'trash-can.svg', class: 'medium-icon' %>
              <% end %>
            </td>
            <td class="no-padding">
              <%= form_for r do |f| %>
                <%= f.check_box :r_and_r, class: 'rnr-form-button', data: { confirm: 'Are you sure?' }  %>
              <% end %>
            </td>
          </tr>

          <%# Roster rows — one per RosterEntry, hidden by default. Depth is
              inferred from the number of dots in the entry's order_number,
              so E-209.3.1 sits one level deeper than E-209.3 which itself
              sits one level deeper than E-209. %>
          <% r.rosters.each do |ros| %>
            <% depth = ros.order_number.to_s.count('.') %>
            <tr class="resource-roster-row is-hidden depth-<%= depth %>" data-resource-id="<%= r.id %>">
              <td class="roster-order-cell" style="padding-left: <%= 20 + depth * 20 %>px">
                <%= r.cat %><%= ros.order_number %>
              </td>
              <td class="roster-position-cell"><%= ros.position %></td>
              <td class="roster-name-cell"><%= ros.name %></td>
              <td colspan="9" class="roster-filler-cell"></td>
            </tr>
          <% end %>
        <% end %>


        <!-- Released Resoruces -->
        <tr>
          <td class="grayed"><strong>RELEASED</strong></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
        </tr>
        <% @resources.each do |r|  %>
          <% if r.released? %>
            <td class="sm-padding-left sm-bip-input"><%= r.cat %><%= best_in_place r, :order_number, :as => :input %></td>
            <td class="md-bip-input"><%= best_in_place r, :position, :as => :input %></td>
            <td class="lg-bip-input"><%= best_in_place r, :name, :as => :input %></td>
            <td class="lg-bip-input"><%= best_in_place r, :leader, :as => :input, place_holder: "---------" %></td>
            <td class="sm-bip-input">
              <% if r.number_personnel != nil  %> 
                <%= best_in_place r, :number_personnel, :as => :input %>
              <% end %>
                </td>
            <td class="md-bip-input"><%= best_in_place r, :agency, :as => :input %></td>
            <td class="lg-bip-input"><%= best_in_place r, :fwd, display_as: :formatted_fwd %></td>
            <td class="lg-bip-input"><%= best_in_place r, :assignment_length, :as => :input, place_holder: "----" %></td>
            <% if !r.last_work_day.blank? %>
              <td><%=  r.last_work_day.strftime("%m/%d") %></td>
            <% else %>
            <td></td>
            <% end %>
            <td class="lg-bip-input"><%= link_to r.release_date.strftime('%m/%d'), incident_resource_demob_path(@incident, r, r.demob), 
                                      class: 'btn tiny btn-info' %></td>
            
            <td>
              <%= link_to r, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <%= image_tag 'trash-can.svg', class: 'medium-icon' %>
              <% end %>
            </td>
            <td >
            </td></tr>
          <% end %>
        <% end %>



        <!-- R&R Resoruces -->
        <tr>
          <td class="grayed"><strong>On R&R</strong></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
          <td class="grayed"></td>
        </tr>
        <% @resources.on_rnr.each do |r|  %>
            <td class="sm-padding-left sm-bip-input"><%= r.cat %><%= best_in_place r, :order_number, :as => :input %></td>
            <td class="md-bip-input"><%= best_in_place r, :position, :as => :input, place_holder: "------" %></td>
            <td class="lg-bip-input"><%= best_in_place r, :name, :as => :input, place_holder: "------" %></td>
            <td class="lg-bip-input"><%= best_in_place r, :leader, :as => :input, place_holder: "------"%></td>
            <td class="sm-bip-input">
              <% if r.number_personnel != nil  %> 
                <%= best_in_place r, :number_personnel, :as => :input %>
              <% end %>
                </td>
            <td class="md-bip-input"><%= best_in_place r, :agency, :as => :input, place_holder: "------" %></td>
            <td class="lg-bip-input"><%= best_in_place r, :fwd, display_as: :formatted_fwd, place_holder: "------" %></td>
            <td class="lg-bip-input"><%= best_in_place r, :assignment_length, :as => :input, place_holder: "----" %></td>
            <% if !r.last_work_day.blank? %>
              <td><%=  r.last_work_day.strftime("%m/%d") %></td>
            <% else %>
            <% end %>
            <td><%= link_to "DMB", incident_resource_demob_path(@incident, r, r.demob), class: "demob-button btn tiny btn-dark"  %></td>
            <td>
              <%= link_to r, method: :delete, data: {confirm: 'Are you sure?'} do %>
                <%= image_tag 'trash-can.svg', class: 'medium-icon' %>
              <% end %>
            </td>
            <td class="no-padding">
              <%= form_for r do |f| %>
                <%= f.check_box :r_and_r, class: 'rnr-form-button' %>
              <% end %>
            </td>
          </tr>
        <% end %>


      </tbody>
    </table>

    <% @resources.assigned.each do |r| %>
      <div id="resource-panel-<%= r.id %>" class="resource-panel is-hidden" data-resource-panel="<%= r.id %>">
        <div class="resource-panel-inner">
          <button type="button" class="resource-panel-close" aria-label="Close">&times;</button>
          <h3 class="resource-panel-title">
            <%= r.full_order_number %> &middot; <%= r.name %>
          </h3>

          <div class="resource-panel-fields">
            <div class="resource-panel-field">
              <label>Order #</label>
              <span><%= r.cat %><%= best_in_place r, :order_number, as: :input %></span>
            </div>
            <div class="resource-panel-field">
              <label>Kind / Type</label>
              <%= best_in_place r, :position, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Name</label>
              <%= best_in_place r, :name, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Leader</label>
              <%= best_in_place r, :leader, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label># Personnel</label>
              <%= best_in_place r, :number_personnel, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Agency</label>
              <%= best_in_place r, :agency, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>First Work Day</label>
              <%= best_in_place r, :fwd, display_as: :formatted_fwd, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Assignment Length</label>
              <%= best_in_place r, :assignment_length, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Last Work Day</label>
              <span class="static-field"><%= r.last_work_day.try(:strftime, "%m/%d") || "—" %></span>
            </div>
            <div class="resource-panel-field">
              <label>Phone</label>
              <%= best_in_place r, :phone, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Email</label>
              <%= best_in_place r, :email, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Jetport</label>
              <%= best_in_place r, :jetport, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Return City</label>
              <%= best_in_place r, :return_city, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field">
              <label>Return State</label>
              <%= best_in_place r, :return_state, as: :input, place_holder: "---" %>
            </div>
            <div class="resource-panel-field resource-panel-field-wide">
              <label>Comment</label>
              <%= best_in_place r, :comment, as: :textarea, place_holder: "Click to add comment…",
                                             html_attrs: { style: 'width:100%; min-height:80px;' },
                                             ok_button: 'Save',   ok_button_class: 'btn btn-info tiny',
                                             cancel_button: 'Cancel', cancel_button_class: 'btn btn-default sm-margin-left tiny' %>
            </div>
          </div>
        </div>
      </div>
    <% end %>

    <% else %>
    <div class="sm-padding-top md-padding-left">
      <h4>There are no resources assigned to this incident.</h4>
    </div>
  <% end %>

    <div class="panel-foot"></div>
</div>
