<%= form_for @resource, remote: true do |f| %>
  <%= f.hidden_field :incident_id, value: @incident.id %>
  <div class="form-group">
    <%= f.text_field :name, placeholder: "RESOURCE NAME", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.select :category, options_for_select([["CREW", "CREW"], ["EQUIPMENT", "EQUIPMENT"],["OVERHEAD", "OVERHEAD"]]), :prompt => "SELECT CATEGORY", id: :resource_category, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_field :position, placeholder: "RESOURCE KIND/TYPE", class: 'form-control' %>
  </div>


  <div id="order-number-input" class="form-group">
    <span class="order-number-prefix"></span>
    <%= f.text_field :order_number, placeholder: "ORDER NUMBER", class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.text_field :leader, placeholder: "LEADER NAME", class: 'form-control' %>
    
  </div>
  <div class="form-group">
    <%= f.text_field :number_personnel, placeholder: "# PERSONNEL", class: 'form-control' %>
    
  </div>
  <div class="form-group">
    <%= f.text_field :agency, placeholder: "AGENCY", class: 'form-control' %>
  </div>
  
  <div class="row">
    <div class="col-md-5">
      <%= f.text_field :checkin_date, id: :incident_checkin_date, :data => {:provide => "datepicker"},
                             class: "form-control", placeholder: "CHECKIN DATE" %>
    </div>  
    <div class="col-md-5 form-group">
      <%= f.text_field :fwd, id: :incident_fwd, :data => {:provide => "datepicker"},
                             class: "form-control", placeholder: "FIRST WORK DAY" %>
    </div>
    <div class="col-md-2 form-group">
      <%= f.text_field :assignment_length, id: :incident_fwd, 
                             class: "form-control", placeholder: "ASSIGNMENT LENGTH" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-md-6">
      <%= f.submit "Submit", class: 'btn btn-primary', id: "submit-resource-button" %>
    </div>
    <div class="col-md-6">
      <%= link_to "Cancel", 'javascript:;', class: 'btn btn-default btn-wide', id: "cancel-resource-button" %>
    </div>
  </div>
<% end %>