
<div id="tally-info" class="panel panel-default">
  <% if !@resources.empty? %>
  <div class="container">
    
    <div class="row">
      
      <div class="col-10">
          
        <h1>RESOURCE TALLY</h1>

        <div class="col-sm-3">
          <h4>Crews</h4>
          <ul>
            
            <% @resources.crew.each do |r| %>
              <% unless r.released? %>
              <li><%= r.agency %> - <%= r.position %> - <%= r.number_personnel %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="col-sm-3">
          <h4>Equipment</h4>
          <ul>
            
            <% @resources.equipment.each do |r| %>
              <% unless r.released? %>
                <li><%= r.agency %> - <%= r.position %> - <%= r.number_personnel %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="col-sm-3">
          <h4>Aircraft</h4>
          <ul>
            
            <% @resources.aircraft.each do |r| %>
              <% unless r.released? %>
                <li><%= r.agency %> - <%= r.position %> - <%= r.number_personnel %></li>
              <% end %>
            <% end %>
          </ul>
        </div>

        <div class="col-sm-3">
          <h4>Overhead</h4>
          <ul>
            <% tally_resources(@overhead.assigned).each do |a, c| %>

              <li><%= a %> - <%= c %></li>
            <% end %>
          </ul>
        </div>

      </div>
  </div>

  <div> 
    <h6><strong>Total:</strong>  <%= @incident.total_resources %></h6>
  </div>
        <!-- <table class="table">
          <thead>
            <tr>
            <%# get_resources(ordered_resources(@resources)).uniq.each do |r| %>
              <th><%#= r %></th>
            <%# end %>
            </tr>
          </thead>
          <tbody>
            <%# get_agencies(@resources).uniq.each do |a| %>
              <tr>
                <td><%#= a %></td> 
                </tr>
            <%# end %>
          </tbody>
        </table> -->




        <% else %>
          <div class="sm-padding-top md-padding-left">
            <h4>There are no resources assigned to this incident.</h4>
          </div>
        <% end %>
        </div>
  <div class="panel-foot"></div>
      </div>
  </div>
</div>

  
  