$("#resources").append('<li><%= @resource.cat %><%= @resource.order_number %>  <%= @resource.name %>  <%= @resource.position %></li>')
// $("#resources").append('')
$("#new_resource").trigger("reset");
$('#resource-form').hide();
$("#new-resource").show();


$("#incident-resources").append('<tr><td><%= @resource.cat %><%= @resource.order_number %></td><td><%= @resource.position %></td><td><%=  @resource.name %></td><td><%=  @resource.leader %></td><td></td><td><%= @resource.agency %></td><td><%= @resource.fwd.strftime("%m/%d") %></td><td><%= @resource.assignment_length %></td><td><%=  @resource.last_work_day.strftime("%m/%d") %></td><td></td></tr>')
