<p id="notice"><%= notice %></p>

<!-- plans tabs -->
    <div class="resources-panel-head">
      <ul class="tabrow resource-tabs">
          <li  class="resource-tab selected">
              <%= link_to 'ICS-211', "javascript:;", class: "resource-tab-link", id: "ics-211-tab"%>
          </li>
          <li class="resource-tab">
              <%= link_to 'Glide Path', "javascript:;", class: "resource-tab-link", id: "glide-tab" %>
          </li>
          <li class="resource-tab">
              <%= link_to 'Demob List', "javascript:;", class: "resource-tab-link", id: "demob-tab" %>
          </li>
          <li class="resource-tab">
              <%= link_to 'Resource Tally', "javascript:;", class: "resource-tab-link", id: "tally-tab" %>
          </li>
          
        <%#= link_to (fa_icon('user-plus')), "javascript:;", class: "float-right", id: 'new-resource' %>
        <%= link_to image_tag('user-plus'), "javascript:;", class: "float-right", id: 'new-resource' %>
        </ul>
      </div>
    <div class="masking-tape"></div>
        
    <!-- end plans tabs -->
    <%= render 'ics_211' %>
    <%= render 'glide' %>
    <%= render 'demob' %>
    <%= render 'tally' %>
