<p id="notice"><%= notice %></p>

<!-- plans tabs -->
    <div class="resources-panel-head">
      <ul class="tabrow ">
          <li>
              <%= link_to 'ICS-211', "javascript:;", id: "ics-211-tab"%>
          </li>
          <li>
              <%= link_to 'Glide Path', "javascript:;", id: "glide-tab" %>
          </li>
          <li>
              <%= link_to 'Demob List', "javascript:;", id: "demob-tab" %>
          </li>
          
        <%= link_to (fa_icon('user-plus')), "javascript:;", class: "float-right", id: 'new-resource' %>
        </ul>
      </div>
    <div class="masking-tape"></div>
        
    <!-- end plans tabs -->
    <%= render 'ics_211' %>
    <%= render 'glide' %>
    <%#= render 'demob', id: 'demob-info' %>

<%= link_to 'New Resource', new_resource_path %>
