<%= content_for :title, "Import IROC Dump" %>

<div class="incident-name">
  <h1><%= link_to @incident.display_incident_name, @incident %></h1>
</div>

<div class="dump-import">
  <h2>Import IROC Dump</h2>
  <p class="muted">
    Upload an IROC / e-ISuite Cognos XML dump for this incident. New request lines
    will be added; existing ones (matched by ReqID) will be refreshed. The dump's
    IncID must match this incident.
  </p>

  <%= form_with url: incident_dump_imports_path(@incident),
                method: :post,
                multipart: true,
                local: true do |f| %>
    <div class="form-group">
      <%= label_tag :dump, "Dump file (.xml)" %>
      <%= file_field_tag :dump, accept: ".xml", required: true, class: "form-control-file" %>
    </div>

    <div class="form-group">
      <%= label_tag :time_zone, "Time zone (used to parse timestamps in the dump)" %>
      <%= select_tag :time_zone,
                     options_for_select(@time_zones.map { |z| [z.name, z.name] }, @default_zone),
                     class: "form-control" %>
    </div>

    <div class="form-group">
      <%= f.submit "Import dump", class: "btn btn-primary" %>
      <%= link_to "Cancel", incident_resources_path(@incident), class: "btn btn-secondary" %>
    </div>
  <% end %>
</div>
