  <%= form_for [@incident, @plan] do |f| %>
  <% if plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(plan.errors.count, "error") %> prohibited this plan from being saved:</h2>

      <ul>
      <% plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date, id: :plan_date %>
   <%= f.hidden_field :incident_id, value: @incident.id %>
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>



  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
