<%= content_for :title, "Cover" %>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">

    <div class="row">                    <!-- Begin the tabrows -->
      <div class="plan-panel-head"> 
        <ul class="tabrow">
          <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
          <li id="selected" class="selected"><%= link_to "Cover", incident_plan_covers_path(@incident, @plan) %></li>
          <li><%= link_to "202", "../#{@plan.id}/202" %></li>
          <li><%= link_to "203", "../#{@plan.id}/203" %></li>
          <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
          <li><%= link_to "205", incident_plan_commo_plans_path(@incident, @plan) %></li>
          <li><%= link_to "206", '#' %></li>
          <li><%= link_to "220", '#' %></li>
          <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
        </ul>
      </div>    
      <div class="masking-tape"></div>
    </div>   
                               <!-- End the tabrows -->
    <div class="row">
      <div id="cover">
      </div>
    </div>
  </div>
</div>