<%= content_for :title, "Cover" %>
<div class="container">
  <div class="col-xs-12 col-lg-8 center-block">
    <div class="row">
      <div class="plan-panel-head">
        <ul class="tabrow">
          <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
          <li id="selected" class="selected"><%= link_to "Cover", "../#{@plan.id}/cover" %></li>
          <li><%= link_to "202", "../#{@plan.id}/202" %></li>
          <li><%= link_to "203", "../#{@plan.id}/203" %></li>
          <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
        </ul>
        </div>
      <div class="masking-tape"></div>
    </div>
    <div class="row">
      <div id="cover">
        <div id="plan-title">
          <h1>Incident Action Plan</h1>
          <h2><%= @incident.name %></h2>
          <h2><%= @plan.date.strftime("%-m/%d/%-Y") %></h2>
        </div>
        <div class="col-xs-12">
          <%= image_tag 'picture.jpg', id: "picture"  %>
        </div>
        <div class="cost-code">
          <h3><%= @incident.number %> – <%= @incident.p_code %></h3>
        </div>
      </div>
    </div>
  </div>
</div>