
<%= content_for :title, "203" %>
<div id="organization-assignments">
  <div class="container">
    <div class="col-xs-12 col-lg-8 center-block">


      <div class="row">
        <div class="plan-panel-head">
          <ul class="tabrow">
            <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
            <li><%= link_to "Cover", "../#{@plan.id}/cover" %></li>
            <li><%= link_to "202", "../#{@plan.id}/202" %></li>
            <li class="selected"><%= link_to "203", "../#{@plan.id}/203" %></li>
            <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
            <li><%= link_to "205", incident_plan_commo_plan_path(@incident, @plan, @plan.commo_plan) %></li>
          </ul>
          </div>
        <div class="masking-tape"></div>
      </div>
  


      <div class="row">
        <div class="left-column col-xs-6"> <!-- Left Column-->
          <div class="row">
            <div class="col-xs-12 content-box top-row">
              <h4 ><strong>ORGANIZATION ASSIGNMENT LIST</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box ">
          <span class="small">INCIDENT NAME</span>
            <span class="lg-padding-left"><%= @incident.name %></span>
        </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box header-row"> COMMAND AND GENERAL STAFF </div>
          </div>
          <div class="row">
            <div class="content-box col-xs-6">IC/UCs</div>      
            <div class="content-box col-xs-6"></div>      
          </div>
          <div class="row">
            <div class="content-box col-xs-6">Deputy</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">Safety Officer</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">Information Officer</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">Liason Officer</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-12 header-row">AGENCY REPRESENTATIVES</div>     <!-- Agency Reps-->        
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>

          <div class="row">
            <div class="content-box col-xs-12 header-row">PLANNING SECTION</div>     <!-- Planning Section-->        
          </div>
          <div class="row">
            <div class="content-box col-xs-6">Chief</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">Deputy</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">SITL</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">RESL</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">DMOB</div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6">DOCL</div>      
            <div class="content-box col-xs-6"></div>       
          </div>

          <div class="row">
            <div class="content-box col-xs-12 header-row">LOGISTICS SECTION</div>     <!-- Logistics Section-->        
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>

          <div class="row">
            <div class="content-box col-xs-12">Prepared by:</div>     <!-- Finance Section-->        
          </div>

        </div> <!-- END LEFT COLUMN-->    

        <div class="right-column col-xs-6"> <!-- START RIGHT COLUMN-->
          <div class="row">
            <div class="col-xs-12 content-box top-row">
              <span class="small">DATE </span>
              <span class="lg-padding-left"><%= @plan.date.try(:strftime,"%-m/%d/%y") %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box">
               <span class="small">OPERATIONAL PERIOD</span>
               <span class="lg-padding-left">0800 - 2200</span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box header-row"> OPERATIONS </div>
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>

          <div class="row">
            <div class="content-box col-xs-12 header-row">FINANCE SECTION</div>     <!-- Finance Section-->        
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>
          <div class="row">
            <div class="content-box col-xs-6"></div>      
            <div class="content-box col-xs-6"></div>       
          </div>

          <div class="row">
            <div class="content-box col-xs-12">Total # Personnel:</div>     <!-- Finance Section-->        
          </div>
        </div> <!-- END RIGHT COLUMN -->
      </div> 

    </div>
  </div>
</div>