<%= content_for :title, "203" %>
<div id="organization-assignments">
  <div class="container">
    <div class="col-xs-12 col-lg-8 center-block">


      <div class="row">
        <div class="plan-panel-head">
          <ul class="tabrow">
            <li><%= link_to 'Plan', incident_plan_path(@incident, @plan) %></li>
            <li><%= link_to "Cover", incident_plan_covers_path(@incident, @plan)  %></li>
            <li><%= link_to "202", "../#{@plan.id}/202" %></li>
            <li class="selected"><%= link_to "203", "../#{@plan.id}/203" %></li>
            <li><%= link_to "204", incident_plan_assignments_path(@incident, @plan) %></li>
            <li><%= link_to "205", incident_plan_commo_plans_path(@incident, @plan) %></li>
            <li><%= link_to "206", '#' %></li>
            <li><%= link_to "220", '#' %></li>
            <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
          </ul>
          </div>
        <div class="masking-tape"></div>
      </div>
  


      <div class="row">
        <div class="left-column col-xs-6"> <!-- Left Column-->
          <div class="row">
            <div class="col-xs-12 content-box top-row">
              <h4 ><strong>ORGANIZATION ASSIGNMENT LIST</strong></h4>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box ">
          <span class="small">INCIDENT NAME</span>
            <span class="lg-padding-left"><%= @incident.name %></span>
        </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box header-row"> COMMAND AND GENERAL STAFF </div>
          </div>

          <!-- BEGIN Command Staff -->
          <% @plan.command_staff.order(:created_at).each do |s| %>
            <div class="staff-row row">
              <div class="content-box col-xs-6">  
                <%= best_in_place s, :position, :as => :select, :collection => 
                        { "1" => "(CHOOSE POSITION)", "2" =>'IC', "3" =>'Deputy IC', "4" =>'SOFR', "5" =>'LOFR', "6" => "PIO" } %>
              </div>     
              <div class="content-box col-xs-6"><%= best_in_place s, :resource_name, :as => :input %>
                <%= link_to 'X', s, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource" %>
              </div>    
            </div>
          <% end %>
            <div class="row blank-row">
              <div class="content-box col-xs-6">
                <span class="team-form">
                  <%= form_for @team do |f| %>
                    <%= f.hidden_field :staff, value: "Command" %>
                    <%= f.hidden_field :plan_id, value: @plan.id %>
                    <%= f.hidden_field :resource_name, value: "(NAME)" %>
                    <%= f.hidden_field :position, value: "1" %>
                  <%= f.submit '+', class: "new-commo-item" %>
                <% end %>
              </span>
            </div>      
              <div class="content-box col-xs-6"></div>      
            </div>
          <% (6 - @plan.command_staff.count).times do %>
            <div class="row">
              <div class="content-box col-xs-6"></div>      
              <div class="content-box col-xs-6"></div>              
            </div>
          <% end %>
          <!-- END Command Staff -->
          <!-- BEGIN Agency Admins -->
          <div class="row">
            <div class="content-box col-xs-12 header-row">AGENCY REPRESENTATIVES</div>     <!-- Agency Reps-->        
          </div>
          <% @plan.agency_reps.order(:created_at).each do |s| %>
            <div class="staff-row row">
              <div class="content-box col-xs-6">  
                <%= best_in_place s, :position, :as => :input %>
              </div>     
              <div class="content-box col-xs-6"><%= best_in_place s, :resource_name, :as => :input %>
                <%= link_to 'X', s, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource" %>
                  
                </div>    
            </div>
          <% end %>
            <div class="row blank-row">
              <div class="content-box col-xs-6">
                <span class="team-form">
                  <%= form_for @team do |f| %>
                    <%= f.hidden_field :staff, value: "Agency" %>
                    <%= f.hidden_field :plan_id, value: @plan.id %>
                    <%= f.hidden_field :resource_name, value: "(NAME)" %>
                    <%= f.hidden_field :position, value: "(POSITION)" %>
                  <%= f.submit '+', class: "new-commo-item" %>
                <% end %>
              </span>
            </div>      
              <div class="content-box col-xs-6"></div>      
            </div>
          <% (6 - @plan.agency_reps.count).times do %>
            <div class="row">
              <div class="content-box col-xs-6"></div>      
              <div class="content-box col-xs-6"></div>             
            </div>
          <% end %>
          <!-- END Agency Admins -->
          <!-- START Plans -->
          <div class="row">
            <div class="content-box col-xs-12 header-row">PLANNING SECTION</div>     <!-- Planning Section-->        
          </div>
          <% @plan.plans.order(:created_at).each do |s| %>
            <div class="staff-row row">
              <div class="content-box col-xs-6">  
                <%= best_in_place s, :position, :as => :select, :collection => 
                        { "1" => "(CHOOSE POSITION)", "2" => 'PSC', "3" => 'Deputy PSC', "4" => 'SITL', "5" => 'RESL', "6" => "DMOB",
                          "7" => "GISS", "8" => "FOBS", "9" => "AOBS", "10" => "SCKN", "11" => "DOCL", "12" => "FBAN", "13" => "LTAN",
                          "14" => "FEMO", "15" => "TNSP", "16" => "HRSP", "17" => "IRIN" } %>
              </div>     
              <div class="content-box col-xs-6"><%= best_in_place s, :resource_name, :as => :input %>
                <%= link_to 'X', s, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource" %>
              </div>    
            </div>
          <% end %>
            <div class="row blank-row">
              <div class="content-box col-xs-6">
                <span class="team-form">
                  <%= form_for @team do |f| %>
                    <%= f.hidden_field :staff, value: "Plans" %>
                    <%= f.hidden_field :plan_id, value: @plan.id %>
                    <%= f.hidden_field :resource_name, value: "(NAME)" %>
                    <%= f.hidden_field :position, value: "1" %>
                  <%= f.submit '+', class: "new-commo-item" %>
                <% end %>
              </span>
            </div>      
              <div class="content-box col-xs-6"></div>      
            </div>
            <% (6 - @plan.plans.count).times do %>
            <div class="row">
              <div class="content-box col-xs-6"></div>      
              <div class="content-box col-xs-6"></div>              
            </div>
          <% end %>
          <!-- END Plans -->
          <!-- START Finance -->
          <div class="row">
            <div class="content-box col-xs-12 header-row">FINANCE SECTION</div>     <!-- Logistics Section-->        
          </div>
            <% @plan.finance.order(:created_at).each do |s| %>
              <div class="staff-row row">
                <div class="content-box col-xs-6">  
                  <%= best_in_place s, :position, :as => :select, :collection => 
                      { "1" => "(CHOOSE POSITION)", "2" => 'FSC', "3" => 'Deputy FSC', "4" => 'COST', "5" => 'TIME', "6" => "PTRC",
                        "7" => "EQTR", "8" => "COMP", "9" => "INBA", "10" => "PROC" } %>
                </div>     
                <div class="content-box col-xs-6"><%= best_in_place s, :resource_name, :as => :input %>
                  <%= link_to 'X', s, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource" %>
                </div>    
              </div>
            <% end %>
              <div class="row blank-row">
                <div class="content-box col-xs-6">
                  <span class="team-form">
                    <%= form_for @team do |f| %>
                      <%= f.hidden_field :staff, value: "Finance" %>
                      <%= f.hidden_field :plan_id, value: @plan.id %>
                      <%= f.hidden_field :resource_name, value: "(NAME)" %>
                      <%= f.hidden_field :position, value: "1" %>
                    <%= f.submit '+', class: "new-commo-item" %>
                  <% end %>
                </span>
              </div>      
                <div class="content-box col-xs-6"></div>      
              </div>
              <% (6 - @plan.finance.count).times do %>
              <div class="row">
                <div class="content-box col-xs-6"></div>      
                <div class="content-box col-xs-6"></div>              
              </div>
            <% end %>
          <!-- END Finance -->
          

        </div> <!-- END LEFT COLUMN-->    

        <div class="right-column col-xs-6"> <!-- START RIGHT COLUMN-->
          <div class="row">
            <div class="col-xs-12 content-box top-row">
              <span class="small">DATE </span>
              <span class="lg-padding-left"><%= @plan.date.try(:strftime,"%-m/%d/%y") %></span>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 content-box">
               <span class="small">OPERATIONAL PERIOD</span>
               <span class="lg-padding-left">0800 - 2200</span>
            </div>
          </div>
          <!-- START Ops -->
          <div class="row">
            <div class="col-xs-12 content-box header-row"> OPERATIONS </div>
          </div>
          <% @plan.operations.order(:created_at).each do |s| %>
            <div class="staff-row row">
              <div class="content-box col-xs-6">  
                <%= best_in_place s, :position, :as => :input %>
              </div>     
              <div class="content-box col-xs-6"><%= best_in_place s, :resource_name, :as => :input %>
                <%= link_to 'X', s, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource" %>
              </div>    
            </div>
          <% end %>
            <div class="row blank-row">
              <div class="content-box col-xs-6">
                <span class="team-form">
                  <%= form_for @team do |f| %>
                    <%= f.hidden_field :staff, value: "Operations" %>
                    <%= f.hidden_field :plan_id, value: @plan.id %>
                    <%= f.hidden_field :resource_name, value: "(NAME)" %>
                    <%= f.hidden_field :position, value: "(POSITION)" %>
                  <%= f.submit '+', class: "new-commo-item" %>
                <% end %>
              </span>
            </div>      
              <div class="content-box col-xs-6"></div>      
            </div>
            <% (14 - @plan.operations.count).times do %>
            <div class="row">
              <div class="content-box col-xs-6"></div>      
              <div class="content-box col-xs-6"></div>       
            </div>
          <% end %>
          <!-- END Ops -->
          <!-- BEGIN Logs -->
          <div class="row">
            <div class="content-box col-xs-12 header-row">LOGISTICS SECTION</div>     <!-- Finance Section-->        
          </div>
          <% @plan.logistics.order(:created_at).each do |s| %>
            <div class="staff-row row">
              <div class="content-box col-xs-6">  
                <%= best_in_place s, :position, :as => :select, :collection => 
                        { "1" => "(CHOOSE POSITION)", "2" => 'LSC', "3" => 'Deputy LSC', "4" => 'SBVD', "5" => 'SUVD', "6" => "MEDL",
                          "7" => "COML", "8" => "COMT", "9" => "RADO", "10" => "SUPL", "11" => "FDUL", "12" => "ORDM", "13" => "RCDM",
                          "14" => "FACL", "15" => "BCMG", "16" => "EQPM", "17" => "SECM", "18" => "IADP", "19" => "ACDP", "20" => "EDRC",
                          "21" => "EDSD" } %>
              </div>     
              <div class="content-box col-xs-6"><%= best_in_place s, :resource_name, :as => :input %>
                <%= link_to 'X', s, method: :delete, data: { confirm: 'Are you sure?' }, class: "delete-resource" %>
              </div>    
            </div>
          <% end %>
            <div class="row blank-row">
              <div class="content-box col-xs-6">
                <span class="team-form">
                  <%= form_for @team do |f| %>
                    <%= f.hidden_field :staff, value: "Logistics" %>
                    <%= f.hidden_field :plan_id, value: @plan.id %>
                    <%= f.hidden_field :resource_name, value: "(NAME)" %>
                    <%= f.hidden_field :position, value: "1" %>
                  <%= f.submit '+', class: "new-commo-item" %>
                <% end %>
              </span>
            </div>      
              <div class="content-box col-xs-6"></div>      
            </div>
            <% (14 - @plan.logistics.count).times do %>
            <div class="row">
              <div class="content-box col-xs-6"></div>      
              <div class="content-box col-xs-6"></div>       
            </div>
          <% end %>
          <!-- END Logs -->
          

        </div> <!-- END RIGHT COLUMN -->
      </div> 
        <div class="row bottom-row">
          <div class="content-box col-xs-12">Prepared by:</div> 
                 
        </div>

    <div class="print-button"><%= link_to "PRINT", "../#{@plan.id}/203-pdf.pdf", class: "btn btn-success tiny", target: :_blank %></div>
    </div>
  </div>
</div>