<%= content_for :title, "The Plan" %>

<p id="notice"><%= notice %></p>
  
<div class="row">
  <ul class="tabrow">
    <% unless current_plan  %>
     <li>
      <%= form_with(model: @plan, id: 'plan-form', local: true) do |form| %>
        <%= form.hidden_field :date, value: Date.today %>
        <%= link_to 'New', "", :onclick => "$('#plan-form').submit()" %>
      <% end %>
      </li>
    <% end %>
   <% @plans.each do |p|  %>
   <li id=<%= p.id %>><%= link_to p.date.strftime("%-m/%d"), plan_path(p) %></li>
   <% end %>
  
</ul>
  <div class="plan-row situation">SITUATION</div>
  <div class="situation-content"> 
  </div>
  <div class="plan-row ">OBJECTIVES</div>
  <div class="objectives-list">
  </div>
  <div class="plan-row">CURRENT AND PLANNED ACTIONS</div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
    $('.tabrow li').removeClass('selected');
    $('.tabrow li:first').addClass('selected');
  });
</script>