
<div id="incident-objectives">
  <div class="container">
  <div class="row">
    <div id="print-container">
      <div class="row">
        <div class="col-xs-12 title-row bl top-row">
          <div class="col-xs-4">
            <h5><strong>INCIDENT OBJECTIVES</strong></h5>
          </div>
          <div class="col-xs-3 bl form-box">
            <span class="small">1. INCIDENT NAME<br>
              <span class="sm-padding-left"><%= @incident.name %></span>
            </span>

          </div>
          <div class="col-xs-2 bl form-box">
            <span class="small">2. DATE<br>
              <%= @plan.date.try(:strftime,"%-m/%d/%y") %>
            </span>
          </div>
          <div class="col-xs-3 bl form-box">
            <span class="small">3. OPERATIONAL PERIOD<br>
          <%=  @plan.ops_period %>
          </span>
        </div>
          </div>
        </div>

      
      <div class="row">
        <div id="control-objectives" class="col-xs-12">
          <span class="small">4. GENERAL CONTROL OBJECTIVES FOR INCIDENT</span>
          <ul>
            <% @plan.objectives.each do |o| %>
            <li><%= o.description %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="row">
        <div id="weather-forecast" class="col-xs-12 form-row">
          <% if @incident.wildfire? %>
            <span class="small">5. OPERATIONAL PERIOD EMPHASIS</span><br>
          <% else %>
            <span class="small">5. GENERAL SITUATION AWARENESS</span><br>
          <% end %>
             <%=  simple_format(@plan.weather)  %>
        </div>
      </div>
      <div class="row">
        <div id="general-safety-message" class="col-xs-12">
          <span class="small">6. GENERAL SAFETY MESSAGE</span><br>
            <%=  simple_format(@plan.general_safety)  %>
        </div>
      </div>
      <div class="row">
        <div id="attachments" class="col-xs-12">
          <span class="small">7. ATTACHMENTS</span><br>
            <ul class="small col-xs-3">

              <% @first_attachments.each do |a| %>
                <li> 
                  <%= best_in_place a, :attached, as: :checkbox, collection: {false: raw("&#x2610;"), true: raw("&#x2611;")}, class: "bip-checkbox" %>
                  <%= best_in_place a, :description, as: :input  %>
                </li>
              <% end %>
            </ul>
            <ul class="small col-xs-3">
              <% @second_attachments.each do |a| %>
                  <li>
                    <%= best_in_place a, :attached, as: :checkbox, collection: {false: raw("&#x2610;"), true: raw("&#x2611;")}, class: "bip-checkbox" %>
                    <%= best_in_place a, :description, as: :input  %>
                  </li>
                <% end %>
            </ul>
            <ul class="small col-xs-3">
              <% @third_attachments.each do |a| %>
                  <li>
                    <%= best_in_place a, :attached, as: :checkbox, collection: {false: raw("&#x2610;"), true: raw("&#x2611;")}, class: "bip-checkbox" %>
                    <%= best_in_place a, :description, as: :input  %>
                  </li>
              <% end %>
            </ul>
            <ul class="small col-xs-3">
              <% @fourth_attachments.each do |a| %>
                  <li>
                    <%= best_in_place a, :attached, as: :checkbox, collection: {false: raw("&#x2610;"), true: raw("&#x2611;")}, class: "bip-checkbox" %>
                    <%= best_in_place a, :description, as: :input  %>
                  </li>
              <% end %>
            </ul>
        </div>
      </div>
      <div class="row">
        <div class="prepared-by-row col-xs-12">
            <div class="col-xs-6">
              <span class="small small-box">8. PREPARED BY</span><br>
              <span class="lg-padding-left"><%=  @plan.prepared_by %></span>
            </div>
            <div class="col-xs-6 bl">
              <span class="small small-box">9. APPROVED BY</span><br>
              <span class="lg-padding-left"><%=  @plan.approved_by %></span>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
  <script type="text/javascript">
    $(document).on("turbolinks:load", function() {
      $('#header').hide();
      $('.footer').hide();
      $('body').css("padding-top", 25);
      $('body').css("padding-right", 10);
      $('body').css("padding-left", 10);
    });
  </script>