
<div id="incident-objectives">

    <div id="print-container">
      <%# Top row %>
      <div class="col-xs-12 title-row bl top-row fixed-height-row">
        <div class="col-xs-4">
          <h5><strong>INCIDENT OBJECTIVES</strong></h5>
        </div>
        <div class="col-xs-3 bl form-box">
          <span class="small">1. INCIDENT NAME<br>
            <span class="sm-padding-left"><%= @incident.name %></span>
          </span>
        </div>
        <div class="col-xs-2 bl form-box">
          <span class="small">2. DATE<br>
            <%= @plan.date.try(:strftime,"%-m/%d/%y") %>
          </span>
        </div>
        <div class="col-xs-3 bl form-box">
          <span class="small">3. OPERATIONAL PERIOD<br>
            <%=  @plan.ops_period %>
          </span>
        </div>
      </div>

      <%# Control Objectives row %>
      <div class="flex-row">
        <div id="control-objectives-pdf" class="col-xs-12 flex-content">
              <span class="small">4. GENERAL CONTROL OBJECTIVES FOR INCIDENT</span>
              <ul>
                <% @plan.objectives.each do |o| %>
                <li><%= o.description %></li>
                <% end %>
              </ul>
            </div>
          </div>

      <%# Operations emphasis row %>
      <div class="flex-row">
      <div id="operational-emphasis-pdf" class="col-xs-12 form-row flex-content">
        <% if @incident.wildfire? %>
          <span class="small">5. OPERATIONAL PERIOD EMPHASIS</span><br>
        <% else %>
          <span class="small">5. GENERAL SITUATION AWARENESS</span><br>
        <% end %>
           <%=  simple_format(@plan.weather)  %>
      </div>
      </div>

      <%#  General Safety row %>
      <div class="flex-row">
      <div id="general-safety-message-pdf" class="col-xs-12 flex-content">
        <span class="small">6. GENERAL SAFETY MESSAGE</span><br>
          <%=  simple_format(@plan.general_safety)  %>
      </div>
      </div>


      <%# Attachments row %>
      <div id="attachments" class="col-xs-12 fixed-height-row">
        <span class="small">7. ATTACHMENTS</span><br>
          <ul class="small col-xs-3">

            <% @first_attachments.each do |a| %>
              <li> 
                <%= a.attached ? "☑" : "☐" %>
                <%= a.description %>
              </li>
            <% end %>
          </ul>
          <ul class="small col-xs-3">
            <% @second_attachments.each do |a| %>
              <li>
                <%= a.attached ? "☑" : "☐" %>
                <%= a.description %>
              </li>
            <% end %>
          </ul>
          <ul class="small col-xs-3">
            <% @third_attachments.each do |a| %>
              <li>
                <%= a.attached ? "☑" : "☐" %>
                <%= a.description %>
              </li>
            <% end %>
          </ul>
          <ul class="small col-xs-3">
            <% @fourth_attachments.each do |a| %>
              <li>
                <%= a.attached ? "☑" : "☐" %>
                <%= a.description %>
              </li>
            <% end %>
          </ul>
      </div>
      <%# Prepared by row %>
      <div class="prepared-by-row col-xs-12 fixed-height-row">
        <div class="col-xs-6">
          <span class="small small-box">8. PREPARED BY</span><br>
          <span class="lg-padding-left"><%=  @plan.prepared_by %></span>
        </div>
        <div class="col-xs-6 bl">
          <span class="small small-box">9. APPROVED BY</span><br>
          <span class="lg-padding-left"><%=  @plan.approved_by %></span>
        </div>
      </div>
  </div>
</div>
