<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @plan.date %>
</p>

<p>
  <strong>User:</strong>
  <%= @plan.user_id %>
</p>

<%= link_to 'Edit', edit_plan_path(@plan) %> |
<%= link_to 'Back', plans_path %>
