<%= content_for :title, "The Plan" %>
<div class="container">
  <div class="row">
     <div class="col-lg-8 col-xs-12 center-block">

      <p id="notice"><%= notice %></p>
        
      <div class="row">
        <%= link_to "javascript:;" do %>
          <h1 id="show-incident-form" class="text-center"><strong><%= @incident.display_incident_name %> </strong></h1>
        <% end %>
        <div id="edit-incident-form" class="">
          <%= render 'incidents/form', incident: @incident %>
        </div>

        <!-- plans tabls -->
        <div class="plan-panel-head">
          <ul class="tabrow">
              <% unless current_plan  %>
                <li>
                  <%= link_to 'New', new_incident_plan_path(@incident) %>
                </li>
              <% end %>
              <% @incident.plans.order(date: :asc).each do |p|  %>
                <li id=<%= p.id %>><%= link_to p.date.try(:strftime,"%-m/%d"), incident_plan_path(@incident, p) %></li>
              <% end %>
            
            </ul>
          </div>
        <div class="masking-tape"></div>
            
        <!-- end plans tabs -->

        <div id="situation-content" class="plan-row situation md-padding-left"><%= link_to 'SITUATION', 'javascript:;', class: "plan-link" %> </div>
        <div class="situation-content list-content md-padding-left">
          <%= best_in_place @plan, :situation, :as => :textarea, :place_holder => "Click me to add content!",:display_with => :simple_format, :ok_button => 'Save', :cancel_button => 'Cancel'  %>
        </div>
        <div id="objectives-list" class="plan-row md-padding-left "><%= link_to 'OBJECTIVES', 'javascript:;', class: "plan-link" %></div>
          <div class="objectives-list list-content md-padding-left">
            <ol id="objectives">
              <% @objectives.each do |o|  %>
              <li> <%= best_in_place o, :description, as: :input %></li>
              <% end %>
            </ol>

            <div id="objective-form" class="form-group">
              <%= form_for @objective, remote: true do |f| %>
                <%= f.hidden_field :plan_id, value: @plan.id %>
                <%= f.text_area :description, placeholder: "Add an objective", class: 'form-control' %></br>
                <%= f.submit "Submit", class: 'btn btn-tiny btn-primary', id: "submit-objective-button" %>
              <% end %>
            </div>
              <%= link_to (fa_icon('plus-circle')), "javascript:;", id: 'new-objective' %>
            
          </div>
          
        <div id="activity-list" class="plan-row activity md-padding-left"><%= link_to 'CURRENT AND PLANNED ACTIONS', 'javascript:;', class: "plan-link" %></div>
        <div class="activities-list list-content md-padding-left">
          <ul id="activities list-content">
            <% @plan.activities.each do |a|  %>
              <li> <%= best_in_place a, :description, :as => :input %></li>
            <% end %>
          </ul>

            <div id="activity-form" class="form-group">
              <%= form_for @activity, remote: true do |f| %>
                <%= f.hidden_field :plan_id, value: @plan.id %>
                <%= f.text_field :description, placeholder: "Add activity", class: 'form-control' %></br>
                <%= f.submit "Submit", class: 'btn btn-tiny btn-primary', id: "submit-activity-button" %>
              <% end %>
            </div>
              <%= link_to (fa_icon('plus-circle')), "javascript:;", id: 'new-activity' %>
        </div>

        <div id="resource-list" class="plan-row md-padding-left"><%= link_to 'RESOURCES', 'javascript:;', class: "plan-link" %></div>
          <div class="resources-list list-content md-padding-left">
            <ul id="resources">
                <% @resources.assigned.each do |r|  %>
                <li><%= r.cat %><%= best_in_place r, :order_number, :as => :input%>  <%= best_in_place r,  :name, :as => :input %>  <%= best_in_place r, 
                :position, :as => :input %></li>
                <% end %>
              </ul>

            <div id="resource-form" class="form-group">
              <%= form_for @resource, remote: true do |f| %>
                <%= f.hidden_field :incident_id, value: @incident.id %>
                <div class="form-group"><%= f.text_field :name, placeholder: "RESOURCE NAME", class: 'form-control' %></div>
                <div class="form-group"><%= f.text_field :position, placeholder: "RESOURCE TYPE", class: 'form-control' %></div>
                <div class="form-group"><%= f.select :category, options_for_select([ ["CREW", "CREW"], ["EQUIPMENT", "EQUIPMENT"], ["OVERHEAD", "OVERHEAD"]]), :prompt => "SELECT CATEGORY", class: 'form-control', id: :resource_category %></div>

                <div id="order-number-input" class="form-group">
                  <span class="order-number-prefix"></span>
                     <%= f.text_field :order_number, placeholder: "NUMBER", id: :resource_order_number, class: 'form-control' %>
                  </div>
                <div class="form-group"><%= f.text_field :leader, placeholder: "LEADER'S NAME", class: 'form-control' %></div>
                <div class="form-group"><%= f.text_field :number_personnel, placeholder: "# PERSONNEL", class: 'form-control' %></div>
                <div class="form-group"><%= f.text_field :agency, placeholder: "AGENCY", class: 'form-control' %></div>
                <div class="form-group"><%= f.text_field :checkin_date, id: :incident_checkin_date, :data => {:provide => "datepicker"},
                                  class: "form-control", placeholder: "CHECKIN DATE" %></div>
                <div class="form-group"><%= f.text_field :fwd, id: :incident_fwd, :data => {:provide => "datepicker"},
                                  class: "form-control", placeholder: "LAST WORK DAY" %></div>
                <div class="row">
                  <span class="col-xs-6"><%= f.submit "Submit", class: 'btn btn-tiny btn-primary', id: "submit-resource-button" %></span>
                  <span class="col-xs-6"><%= link_to "Cancel", 'javascript:;', class: 'btn btn-tiny btn-default btn-wide', id: "cancel-resource-button" %></span>
                </div>
              <% end %>
            </div>
            <%= link_to (fa_icon('user-plus')), "javascript:;", id: 'new-resource' %>
          </div>


      <div id="iap-row" class="plan-row md-padding-left"><%= link_to 'IAP', 'javascript:;', class: "plan-link" %></div>
      <div id="iap-content" class="forms-list list-content md-padding-left">
          <ul>
            <li><%= link_to "Cover", incident_plan_covers_path(@incident, @plan) %></li>
            <li><%= link_to "ICS 202 Incident Objectives", "#{@plan.id}/202" %></li>
            <li><%= link_to "ICS 203 Incident Organization", "#{@plan.id}/203" %></li>
            <li><%= link_to "ICS 204 Incident Assignments", incident_plan_assignments_path(@incident, @plan) %></li>
            <li><%= link_to "ICS 205 Communications Plan", incident_plan_commo_plans_path(@incident, @plan) %></li>
            <li><%= link_to "ICS 206 Medical Plan", '#' %></li>
            <li><%= link_to "ICS 220 Air Operations Summary", '#' %></li>
            <li><%= link_to "Safety Message", incident_plan_safety_messages_path(@incident, @plan) %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    id = "<%= @plan.id %>"
    $('.tabrow li').removeClass('selected');
    $('li#'+ id).addClass('selected');


    // var input = document.getElementById('best_in_place_objective_104_description');

    // input.onkeydown = function() {
    //     var key = event.keyCode || event.charCode;
    //     var content = this.text;

    //     if( key == 8 || key == 46 )
    //         alert(content);
    // };
  });

</script>