<%= content_for :title, "The Plan" %>

<p id="notice"><%= notice %></p>
  
<div class="row">
  <ul class="tabrow">
    <% unless current_plan  %>
     <li>
      <%= form_with(model: @new_plan, id: 'plan-form', local: true) do |form| %>
        <%= form.hidden_field :date, value: Date.today %>
      <%= link_to 'New', "", :onclick => "$('#plan-form').submit()" %>
      <% end %>
     </li>
    <% end %>
   <% @plans.each do |p|  %>
   <li id=<%= p.id %>><%= link_to p.date.strftime("%-m/%d"), plan_path(p) %></li>
   <% end %>
  
</ul>
  <div class="plan-row situation">SITUATION</div>
  <div class="situation-content">
    <%= best_in_place @plan, :situation, :as => :textarea, :place_holder => "Click me to add content!",:display_with => :simple_format, :ok_button => 'Save', :cancel_button => 'Cancel'  %>
  </div>
  <div class="plan-row ">OBJECTIVES</div>
    <div class="objectives-list">
      <ol>
        <% @objectives.each do |o|  %>
        <li><%= o.order %> <%= o.description %></li>
        <% end %>
      </ol>

      <div id="objective-form" class="form-group">
        <%= form_for @objective, local: true do |f| %>
          <%= f.hidden_field :plan_id, value: @plan.id %>
          <%= f.text_area :description, placeholder: "Add an objective", class: 'form-control' %></br>
          <%= f.submit "Submit", class: 'btn btn-tiny btn-primary', id: "submit-objective-button" %>
        <% end %>
      </div>
        <%= link_to (fa_icon('plus-circle')), "javascript:;", id: 'new-objective' %>
      
    </div>
    
  <div class="plan-row">CURRENT AND PLANNED ACTIONS</div>
  <div class="actions-list">
    <ul>
      <li>some stuff</li>
      <li>some stuff</li>
      <li>some stuff</li>
      <li>some stuff</li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  $(document).on("turbolinks:load", function() {
  id = "<%= @plan.id %>"
  $('.tabrow li').removeClass('selected');
  $('li#'+ id).addClass('selected');
  });
</script>